{% extends 'basic.html' %}
{% load static %}
{% block content %}
	<div class="slider-area">
		<div class="slider-wrapper owl-carousel">
			<div class="slider-item home-one-slider-otem slider-item-four slider-bg-one">
				<div class="container">
					<div class="row">
						<div class="slider-content-area">
							<div class="slide-text">
								<h1 class="homepage-three-title">Your Technology partner for  <span>Software Innovation</span> and <span>Solutions</span> </h1>
								<h2>We help companies leverage Cloud DevOps And other disruptive technologies, To delight their customers And transform their business. </h2>
								<div class="slider-content-btn">
									<a class="button btn btn-light  " href="about-us.html">Read More</a>
									<a class="button btn btn-light  " href="contact.html">Contact</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider-item text-center home-one-slider-otem slider-item-four slider-bg-two">
				<div class="container">
					<div class="row">
						<div class="slider-content-area">
							<div class="slide-text">
								<h1 class="homepage-three-title">Your Technology partner for  <span>Software Innovation</span> and <span>Solutions</span> </h1>
								<h2>We help companies leverage Cloud DevOps And other disruptive technologies, To delight their customers And transform their business. </h2>
								<div class="slider-content-btn">
									<a class="btn btn-light " href="about-us.html">Read More</a>
									<a class="btn btn-light" href="contact.html">Contact</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider-item home-one-slider-otem slider-item-four slider-bg-three">
				<div class="container">
					<div class="row">
						<div class="slider-content-area">
							<div class="slide-text">
								<h1 class="homepage-three-title">Your Technology partner for  <span>Software Innovation</span> and <span>Solutions</span> </h1>
								<h2>We help companies leverage Cloud DevOps And other disruptive technologies, To delight their customers And transform their business. </h2>
								<div class="slider-content-btn">
									<a class="btn btn-light" href="about-us.html">Read More</a>
									<a class="btn btn-light" href="contact.html">Contact</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div id="about" class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">
                        <h4>About Us</h4>
                        <h2>Welcome to Royal Monarch</h2>
                        <p class="lead">We started a new mission</p>

                        <p>Our mission is simple Bringing great people and great establishments together. Everything we do is grounded in our guiding values to build and nurture class relationships that allow us to place quality people in quality jobs.

                            Our goal is to help people reach their full potential by partnering with organizations that support employment, education and Science, Technology, Engineering and Mathematics (STEM) disciplines. Through this mission we help develop tomorrow's skilled workforce while strengthening the communities where we work.</p>

                        <a href="#services" class="btn btn-light  btn-block ">Learn More</a>
                    </div><!-- end messagebox -->
                </div><!-- end col -->

                <div class="col-md-6">
                    <div class="post-media wow fadeIn">
                        <img src="{% static 'uploads/about_01.jpg' %}" alt="images" class="img-responsive img-rounded">
                        <!-- <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a> -->
                    </div><!-- end media -->
                </div><!-- end col -->
            </div><!-- end row -->

            <hr class="hr1"> 

            <div class="row">
				<div class="col-md-6">
                    <div class="post-media wow fadeIn">
                        <img src="{% static 'uploads/about_02.jpg' %}" alt="" class="img-responsive img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
				
                <div class="col-md-6">
                    <div class="message-box">
                        <h4>Who We are</h4>
                        <h2>We Are GoodWEB Solutions</h2>
                        <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>

                        <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo. </p>

                        <a href="#services" class="btn btn-light  btn-block ">Learn More</a>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
	
	<div class="parallax section parallax-off" data-stellar-background-ratio="0.9" style="background-image:url('{% static 'uploads/parallax_04.jpg' %}');">
        <div class="container">
            <div class="row text-center stat-wrap">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span data-scroll class="global-radius icon_wrap effect-1"><i class="flaticon-briefcase"></i></span>
                    <p class="stat_count">1200</p>
                    <h3>Complated Projects</h3>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span data-scroll class="global-radius icon_wrap effect-1"><i class="flaticon-happy"></i></span>
                    <p class="stat_count">3210</p>
                    <h3>Happy Clients</h3>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span data-scroll class="global-radius icon_wrap effect-1"><i class="flaticon-idea"></i></span>
                    <p class="stat_count">3781</p>
                    <h3>Customer Services</h3>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <span data-scroll class="global-radius icon_wrap effect-1"><i class="flaticon-customer-service"></i></span>
                    <p class="stat_count">4300</p>
                    <h3>Answered Questions</h3>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div id="services" class="parallax section lb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Our Service</h3>
            </div>
            <div class="owl-services owl-carousel owl-theme">
                <div class="service-widget">
                    <div class="post-media wow fadeIn">
                        <!-- <a href="uploads/service_01.jpg" data-rel="prettyPhoto[gal]"
                            class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a> -->
                        <img src="{% static 'uploads/service_01.jpg' %}" alt="" class="img-responsive img-rounded">
                    </div>
                    <div class="service-dit">
                        <h3>DEVOPS</h3>
                        <p>Bridging gaps between software development and operations.</p>
                    </div>
                </div>

                <div class="service-widget">
                    <div class="post-media wow fadeIn">
                        <!-- <a href="uploads/service_02.jpg" data-rel="prettyPhoto[gal]"
                            class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a> -->
                        <img src="{% static 'uploads/service_02.jpg' %}" alt="" class="img-responsive img-rounded">
                    </div>
                    <div class="service-dit">
                        <h3>CLOUD</h3>
                        <p>Optimize the cost, agility and scalability of your IT ecosystem.</p>
                    </div>
                </div>

                <div class="service-widget">
                    <div class="post-media wow fadeIn">
                        <!-- <a href="uploads/service_03.jpg" data-rel="prettyPhoto[gal]"
                            class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a> -->
                        <img src="{% static 'uploads/service_03.jpg' %}" alt="" class="img-responsive img-rounded">
                    </div>
                    <div class="service-dit">
                        <h3>NETWORKING</h3>
                        <p>Tailored technology solutions from design, deployment and support.</p>
                    </div>
                </div>

                <div class="service-widget">
                    <div class="post-media wow fadeIn">
                        <!-- <a href="uploads/service_04.jpg" data-rel="prettyPhoto[gal]"
                            class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a> -->
                        <img src="{% static 'uploads/service_04.jpg' %}" alt="" class="img-responsive img-rounded">
                    </div>
                    <div class="service-dit">
                        <h3>FULL-STACK</h3>
                        <p>Web and Mobile Solutions for Innovative, Transforming & Inspiring Businesses</p>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end section -->

	
    <div id="features" class="section lb">
        <div class="container">
            <div class="section-title text-center">
                <h3>We Serve Multiple Industries</h3>
                <p class="lead">We assist our customers in any phase of software development- from startups to mid-sized business and large enterprises with a focus on optimization and expansion no matter the industry they operate in.</p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="features-left">
                        <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                            <i class="fa fa-heartbeat" aria-hidden="true"></i>

                            <div class="fl-inner">
                                <h4>Health Care</h4>
                                <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                            <i class="flaticon-windows"></i>
                            <div class="fl-inner">
                                <h4>Technology</h4>
                                <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
                            <i class="flaticon-price-tag"></i>
                            <div class="fl-inner">
                                <h4>Financial</h4>
                                <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                            <i class="flaticon-new-file"></i>
                            <div class="fl-inner">
                                <h4>Non Profit</h4>
                                <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            <div class="fl-inner">
                                <h4>Learning</h4>
                                <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 hidden-xs hidden-sm">
                    <img src="{% static 'uploads/ipad (1).png' %}" class="img-center img-responsive" style="margin-top: 80px;" alt="">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="features-right">
                        <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
                            <i class="flaticon-pantone"></i>
                            <div class="fr-inner">
                                <h4>Retail & E-Commerce</h4>
                                <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                            </div>
                        </li>
                        <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                            <i class="flaticon-cloud-computing"></i>
                            <div class="fr-inner">
                                <h4>Private Equity Groups</h4>
                                <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                            </div>
                        </li>
                        <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s">
                            <i class="fa fa-truck" aria-hidden="true"></i>
                            <div class="fr-inner">
                                <h4>Logistics & Transfortation</h4>
                                <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                            </div>
                        </li>
                        <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <div class="fr-inner">
                                <h4>Media & Entertainment</h4>
                                <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                            </div>
                        </li>
                        <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <i class="flaticon-coding"></i>
                            <div class="fr-inner">
                                <h4>Education</h4>
                                <p>Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. </p>
                            </div>
                        </li>
                    </ul>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div id="testimonials" class="parallax section db parallax-off">
        <div class="container">
            <div class="section-title text-center">
                <h3>Testimonials</h3>
                <p class="lead">We thanks for all our awesome testimonials! There are hundreds of our happy customers! <br>Let's see what others say about Royal Monarch.</p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                        {% for i in Testimonials %}
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i>{{i.Sub_Feedback}}</h3>
                                <p class="lead">“{{i.Feedback}}”</p>
                            </div>
                            <div class="testi-meta">
                                <!-- <img src="uploads/testi_01.png" alt="" class="img-responsive alignleft"> -->
                                <h4>{{i.First_Name}} {{i.Last_Name}} <small></small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->
                        {% endfor %}
                    </div><!-- end carousel -->
                </div><!-- end col -->
            </div><!-- end row -->

            <!-- <hr class="hr1"> -->

            <!-- <div class="row logos">
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="uploads/logo_01.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="uploads/logo_02.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="uploads/logo_03.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="uploads/logo_04.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="uploads/logo_05.png" alt="" class="img-repsonsive"></a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="uploads/logo_06.png" alt="" class="img-repsonsive"></a>
                </div>
            </div>end row -->

        </div><!-- end container -->
    </div><!-- end section -->
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

    <!-- slick slider-->
    <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>


    <script>
    $('.image-slider').slick({
        infinite: true,
        loop:true,
        slidesToShow: 3,
        slidesToScroll: 1,
        arrows: true,
        prevArrow:"<button type='button' class='slick-prev pull-left'>&#x2039;</button>",
        nextArrow:"<button type='button' class='slick-next pull-right'>&#x203A;</button>"
    });
    </script>
{% endblock  %}