{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
      
      * {
        box-sizing: border-box;
        font-family: 'Quicksand', sans-serif;
      }
      
      html,
      body {
        margin: 0;
      }
      
    </style>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="full-screen-container">
      <div class="login-container">
        {% include 'messages.html' %}
        <h3 class="login-title">Employee Login</h3>
        <form>
            {% csrf_token %}
            <div class="loginform input-group">
              <label>Email Or Mobile</label>
              <input type="text" name="EmailorMobile" id="EmailorMobile" />
            </div>
            <div class="loginform input-group">
              <label>Password</label>
              <input type="password" name="password" id="password" required/>
              <button type="button" id="btnToggle" class="loginform toggle"><i id="eyeIcon" class="fa fa-eye"></i></button>
            </div>
            <a href="#" class="app_a">Forgot Password??</a>
            <button type="submit" class="login-button login">Send OTP</button>
        </form>
      </div>
    </div>
    <script>
      let passwordInput = document.getElementById('password');
      let toggle = document.getElementById('btnToggle');
      let icon = document.getElementById('eyeIcon');
  
      function togglePassword() {
          if (passwordInput.type === 'password') {
              passwordInput.type = 'text';
              icon.classList.add('fa-eye-slash');
          } else {
              passwordInput.type = 'password';
              icon.classList.remove('fa-eye-slash');
          }
      }
      toggle.addEventListener('click', togglePassword, false);
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.querySelectorAll('.login').forEach(button =>{
            button.addEventListener('click', function(){
                var emailormobile = document.querySelector('#EmailorMobile');
                console.log(emailormobile.value);
                var password = document.querySelector('#password');
                
                var csrfToken = $('[name=csrfmiddlewaretoken]').val();

                var formdata = {
                    'EmailorMobile': emailormobile.value,
                    'Password': password.value
                };
                $.ajax({
                    url : '/Emp_Login',
                    method:'POST',
                    contentType:'application/json',
                    headers : {
                        'X-CSRFToken':csrfToken
                    },
                    data:JSON.stringify(formdata),
                    success:function(data){
                      if (data.Status) {
                          window.location.href = '/otp/';
                      } else {
                          if (data.redirect_url) {
                              window.location.href = data.redirect_url;
                          }
                      }
                    },
                    error:function(jqXHR, textStatus, errorThrown){
                        try {
                            var errorMsg = JSON.parse(jqXHR.responseText);
                            alert('Error occurred: ' + errorMsg.Msg);
                            if (errorMsg.redirect_url) {
                                window.location.href = errorMsg.redirect_url;
                            }
                        } catch (e) {
                            console.error('Could not parse response as JSON: ', jqXHR.responseText);
                        }
                    }
                });
            });
        });
    </script>
  </body>
</html>
